.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
.mypy_cache
dist
build
.tox
.DS_Store
**/.ipynb_checkpoints
**/.ruff_cache
**/.coverage
**/htmlcov
**/.pytest_cache
**/.mypy_cache
**/.venv
**/.env
**/.env.*
**/.idea
**/.vscode
README.md
tests

